header {
	color: black;

	padding: 20px; 
	.tablet({
		padding: 20px @outside-page-padding 20px @outside-page-padding;

	});
	
	padding: 30px 40px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	.logo {
		color: white;
		text-decoration: none;
		font-size: 0;
		img {
			display: block;
			max-width: 80%;
		}
	}
	
	.menu {
		display: none;
	}
	
	.tribar {
		width: 30px;
		margin: 10px 10px 0 0;
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 10px;
		
		.one, .two, .three {
			border-bottom: solid 3px;
			border-color: white;
		}
		.two {
			margin: 7px 0;
		}
		
	}

	.desktop({
	
		nav {
			justify-self: left;
			align-self: center;
			text-align: left;

		}
		.menu {
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				padding: 10px 0px;
				a {
					.fs(8);
					display: inline-block;
					color: black;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: 300;
					padding: 0 15px;
				}
			}
			& > li {
				display: inline-block;
				& > a {
					border-left: solid 1px black;
				}
				
				&.current {
					border-bottom: solid 2px white;
				}
				ul {
					position: absolute;
					top: 100%;
					left: -10000px;
					opacity: 0;
					transition: opacity .3s;
					background-color: black;
					color: white;
					text-align: left;
					list-style: none;
					font-size: 70%;
					width: 300px;

				}

				&:hover {
					ul {
						left: auto;
						right: 0;
						opacity: 1;
					}
				}
				
			}
			
			&>li:first-child {
				& > a {
					border-left: solid 1px transparent;
				}
			}
		}
		.tribar {
			display: none;
		}
	});

	// .tablet({
	// 	position: fixed;
	// 	z-index: 20;
	// 	left: 0;
	// 	right: 0;
	// 	top: 0;
	// });
	// .tablet-and-smaller({
	// 	position: relative;
	// 	z-index: 2;

	// });
	
	transition: background-color .3s;
	&.scrolled {
		.tablet({
			background-color: fade(black, 85%);
		});
	}
}

footer {
	border-top: solid 2px grey;
	.container {
		display: grid;
		padding-top: 60px;
		
		.social-icons {
			a {
				text-decoration: none;
			}

		}
		.logo {
			text-align: left;
			img {
				max-width: 100%;
			}
		}
		.menus {
			ul {
				list-style: none;
				li {
					padding-bottom: 20px;
					a {
						.fs(8);
						font-weight: 300;
						text-transform: uppercase;
						text-decoration: none;
						color: inherit;
					}
				}

			}
			.tablet-and-smaller({
				ul {
					padding-left: 0;
				}

			});
		}
		.contact {
			.fs(9);
			line-height: 1.6em;
			strong {
				color: black;
				text-transform: uppercase;
			}
			p {
				margin-top: 0;
			}
		}
		
		.tablet({
			grid-template-columns: 1fr auto auto;
			
			.menus {
				padding-right: 75px;
				color: black;
				ul {
					margin: 0;
					padding: 0;
					margin-left: auto;
					text-align: right;
					li {
						display: inline-block;
						a {
							.fs(6);
							padding-left: 10px;
							padding-right: 10px;
							border-left: solid 1px black;
						}
					}
					
					li:first-child {
						a {
							border-left: none;
						}
					}
					li:last-child {
						a {
							padding-right: 0;
						}
					}
				}
			}
			.contact {
				text-align: right;
			}

		});
		.tablet-and-smaller({
			text-align: center;
			.logo {
				text-align: center;
			}
			
			.menu {
				li {
					display: inline-block;
					padding: 10px;
				}
			}

		});
	}
	.copyright {
		.fs(7);
		font-weight: 300;
		background-color: grey;
		padding: 20px @page-side-padding;
		text-align: center;
		margin: auto;
	}
}

.mobile-menu {
	position: fixed;
	background-color: white;
	z-index: 20;
	top: 0;
	bottom: 0;
	right: 0;
	left: 100vw;
	// opacity: 0;
	text-align: center;
	transition: opacity .3s, left .3s;
	overflow: hidden;
	
	.tablet({
		opacity: 0;

	});
	
	.mobile-menu-content {
		width: 85vw;
		position: relative;
		padding-top: 50px;
		height: 100%;
		box-sizing: border-box;
	}
	
	.close {
		.fs(20);
		position: absolute;
		top: 5px;
		left: 25px;
		font-weight: 100;
	}
	
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		li {
			margin-bottom: 10px;
			background-color: white;
			padding: 15px 10px;
			text-align: right;
			margin-bottom: 3px;
			text-transform: uppercase;
		}
	}
	ul + ul {
		margin-top: 0;
	}
	
	a {
		color: black;
		text-decoration: none;
		display: block;
	}
}

body.menu-open {
	overflow: hidden;
	&:after {
		content: '\00a0';
		position: fixed;
		inset: 0;
		background-color: fade(black, 60%);
		z-index: -1;
	}
	.mobile-menu {
		z-index: 20;
		overflow: auto;
		opacity: 1;
		left: 15vw;
	}
}

dialog:-internal-dialog-in-top-layer::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.jumbo {
	min-height: 200px;
}